<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Email</h1>
        <% @all_emails.each do |email| %>

          <!-- email from -->
          <div class="email">
            <div class="horizontally_align_results">
              <label for="subject">From:</label>
              <textarea class="form-control" rows="1" id="from"><%= email.from %></textarea>
            </div>

            <!-- email subject -->
            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="subject">Subject:</label>
                <textarea class="form-control" rows="1" id="subject"><%= email.subject %></textarea>
              </div>
            </div>

            <!-- email body -->
            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="body">Body:</label>
                <textarea class="form-control" rows="5" id="body"><%= email.body %></textarea>
              </div>
            </div>
          </div>

        <% end %>
      </div>


      <div class="col-sm">
        <h1>Programming Grid</h1>
        <% @all_emails.each do |email| %>

        <!-- PG from -->
        <div class="pg">
          <div class="horizontally_align_results">
            <label for="subject">From:</label><br />
            <% unless email.qa_list_data["PG_MATCH"] == nil %>
              <% if email.qa_list_data["PG_MATCH"]["from"] %>
                <% email.qa_list_data["PG_MATCH"]["from"].each do |row| %>
                  <%= row.cell_value %>
                <% end %>
              <% end %>
            <% end %>
          </div>


          <!-- PG subject -->
          <div class="horizontally_align_results">
            <label for="subject">Subject:</label><br />
            <% unless email.qa_list_data["PG_MATCH"] == nil %>
              <% if email.qa_list_data["PG_MATCH"]["subject"] %>
                <% email.qa_list_data["PG_MATCH"]["subject"].each do |row| %>
                  <%= row.cell_value %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <!-- body not implemented yet -->
          <label for="subject">Body:</label><br />
          The more you know, the better you can protect yourself against stroke. | View in browser. Five Ways Young People Are Fooled By Stroke   Just because you're not elderly doesn't mean you can't have a stroke  or haven't.  Learn  More     9 Athletes Under 40 Who Suffered Strokes   If they can have a stroke, you should probably worry, too.  Learn  More       Start caring for your health today. Learn where you stand and what you can do to improve your brain health.   Take our free health risk assessment.  Get  Started       About this email:  This email was provided as a service by Johnston-Willis Hospital. Don't miss a single email from Johnston-Willis Hospita  add capital@hcahealthcare.com to your address book.  1401 Johnston Willis Dr. Richmond, VA 23235     Unsubscribe | Privacy Policy   2018 HCA Capital Division Hospitals. All rights reserved. 39340354

          <p class="versioning">Email should be getting the:  <%= email.version %> version. </p>

        </div>
        <% end %>
      </div>
    </div>
  </div>





  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <p><strong>Email</strong></p>
        <% @all_emails.each do |email| %>
        <p class="versioning">Email should be getting the:  <%= email.version %> version. </p>
          <div class="form-group">
            <label for="from">From:</label>
            <textarea class="form-control" rows="1" id="from"><%= email.from %></textarea>
          </div>
          <table>
            <% unless email.qa_list_data["PG_MATCH"] == nil %>
              <% if email.qa_list_data["PG_MATCH"]["from"] %>
                <% email.qa_list_data["PG_MATCH"]["from"].each do |row| %>
                <tr>
                  <%= row.cell_value %>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>

          <div class="form-group">
            <label for="subject">Subject:</label>
            <textarea class="form-control" rows="1" id="subject"><%= email.subject %></textarea>
          </div>
          <% unless email.qa_list_data["PG_MATCH"] == nil %>
            <% if email.qa_list_data["PG_MATCH"]["subject"] %>
              <% email.qa_list_data["PG_MATCH"]["subject"].each do |row| %>
              <tr>
                <%= row.cell_value %>
              </tr>
              <% end %>
            <% end %>
          <% end %>
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" rows="5" id="body"><%= email.body %></textarea>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</body>
</html> -->
