<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="">
    <%= link_to "clear", clearemails_path %>
  </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <p><strong>Email</strong></p>
        <% @all_emails.each do |email| %>


        <table class="table">
          <thead>
            <tr>
              <% email.qa_list_headers.each do |info| %>
              <th scope="col"><%= info %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% email.correct_row.each do |info| %>
                <td><%= info %></td>
              <% end %>
            </tr>
          </tbody>
        </table>

          <div class="form-group">
            <label for="from">From:</label>
            <textarea class="form-control" rows="1" id="from"><%= email.from %></textarea>
          </div>

          <div class="form-group">
            <label for="subject">Subject:</label>
            <textarea class="form-control" rows="1" id="subject"><%= email.subject %></textarea>
          </div>

          <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" rows="5" id="body"><%= email.body %></textarea>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</body>
</html>
