<!-- TODO: this page is really ugly when the screen gets smaller. it would be nice to make it not so ugly. -->
<div>
  <div class="row">
    <div class="col">
      Version
    </div>
    <div class="col">
      MERGE_VAR_2
    </div>
    <div class="col">
      MERGE_VAR_3
    </div>
    <div class="col">
      MERGE_VAR_5
    </div>
    <div class="col">
      MERGE_VAR_10
    </div>
    <div class="col">
      MERGE_VAR_11
    </div>
    <div class="col">
      MERGE_VAR_12
    </div>
    <div class="col">
      MERGE_VAR_13
    </div>
    <div class="col">
      MERGE_VAR_14
    </div>
  </div>

  <%= form_tag('/emails', class: "form-inline", method: "post") do -%>
<!-- <% 10.times do %>
<div class="row">
  <div class="col">
    <%= text_field_tag "Version[]", nil, placeholder: "Version", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_2[]", nil, placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_3[]", nil, placeholder: "MERGE_VAR_3", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_5[]", nil, placeholder: "MERGE_VAR_5", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_10[]", nil, placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_11[]", nil, placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_12[]", nil, placeholder: "MERGE_VAR_12", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_13[]", nil, placeholder: "MERGE_VAR_13", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_14[]", nil, placeholder: "MERGE_VAR_14", class: "form-control form-control-sm small_text"%>
  </div>
</div>
<% end %> -->

<div class="row">
  <div class="col">
    <%= text_field_tag "Version[]", "Younger", placeholder: "Version", class: "form-control form-control-sm small_text"%>
    <%# text_field_tag "Version[]", "Dx Co-Morbidity", placeholder: "Version", class: "form-control form-control-sm small_text"%>
    <%# text_field_tag "Version[]", "One Version", placeholder: "Version", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_2[]", nil, placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_2[]", "25-55", placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_3[]", nil, placeholder: "MERGE_VAR_3", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_5[]", nil, placeholder: "MERGE_VAR_5", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_10[]", "JW", placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_10[]", nil, placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_11[]", nil, placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_11[]", "B", placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_12[]", nil, placeholder: "MERGE_VAR_12", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_13[]", nil, placeholder: "MERGE_VAR_13", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_14[]", nil, placeholder: "MERGE_VAR_14", class: "form-control form-control-sm small_text"%>
  </div>
</div>

<div class="row">
  <div class="col">
    <%# text_field_tag "Version[]", nil, placeholder: "Version", class: "form-control form-control-sm small_text"%>
    <%# text_field_tag "Version[]", "Dx Co-Morbidity", placeholder: "Version", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "Version[]", "Older", placeholder: "Version", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_2[]", nil, placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_2[]", "56-86", placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_3[]", nil, placeholder: "MERGE_VAR_3", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_5[]", nil, placeholder: "MERGE_VAR_5", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_10[]", "PH", placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_10[]", nil, placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%# text_field_tag "MERGE_VAR_11[]", nil, placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
    <%= text_field_tag "MERGE_VAR_11[]", "A", placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_12[]", nil, placeholder: "MERGE_VAR_12", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_13[]", nil, placeholder: "MERGE_VAR_13", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_14[]", nil, placeholder: "MERGE_VAR_14", class: "form-control form-control-sm small_text"%>
  </div>
</div>

<!-- <div class="row">
  <div class="col">
    <%= text_field_tag "Version[]", "Dx of Heart Disease", placeholder: "Version", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_2[]", nil, placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_3[]", nil, placeholder: "MERGE_VAR_3", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_5[]", nil, placeholder: "MERGE_VAR_5", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_10[]", nil, placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_11[]", "9", placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_12[]", nil, placeholder: "MERGE_VAR_12", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_13[]", nil, placeholder: "MERGE_VAR_13", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_14[]", nil, placeholder: "MERGE_VAR_14", class: "form-control form-control-sm small_text"%>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col">
    <%= text_field_tag "Version[]", "At Risk", placeholder: "Version", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_2[]", nil, placeholder: "MERGE_VAR_2", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_3[]", nil, placeholder: "MERGE_VAR_3", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_5[]", nil, placeholder: "MERGE_VAR_5", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_10[]", nil, placeholder: "MERGE_VAR_10", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_11[]", "11", placeholder: "MERGE_VAR_11", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_12[]", nil, placeholder: "MERGE_VAR_12", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_13[]", nil, placeholder: "MERGE_VAR_13", class: "form-control form-control-sm small_text"%>
  </div>
  <div class="col">
    <%= text_field_tag "MERGE_VAR_14[]", nil, placeholder: "MERGE_VAR_14", class: "form-control form-control-sm small_text"%>
  </div>
</div> -->

</div>

<%= submit_tag "Look at Emails"%>
<% end %>
