<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <!-- TODO: it would be nice to paginate each email and programming grid match. I don't know if thats possible with the way its setup though -->
    <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Email</h1>
        <% @all_emails.each do |email| %>

          <!-- email from -->
          <div class="email">
            <div class="horizontally_align_results">
              <label for="from">From:</label>
              <textarea class="form-control from" rows="1" id="from"><%= email.from %></textarea>
            </div>

            <!-- email subject -->
            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="subject">Subject:</label>
                <textarea class="form-control subject" rows="1" id="subject"><%= email.subject %></textarea>
              </div>
            </div>

            <!-- email header -->
            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="header">Header:</label>
                <% email.header.each do |sentance| %>
                <textarea class="form-control header" rows="1" id="header"><%= sentance %></textarea>
                <% end %>
              </div>
            </div>

            <!-- email body -->

            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="body">Body:</label>
                <% email.body.each do |sentance| %>
                <textarea class="form-control body" rows="1" id="body"><%= sentance %></textarea>
                <% end %>
              </div>
            </div>

            <!-- email footer -->
            <div class="horizontally_align_results">
              <div class="form-group">
                <label for="footer">Footer:</label>
                <% email.footer.each do |sentance| %>
                <textarea class="form-control footer" rows="1" id="footer"><%= sentance %></textarea>
                <% end %>
              </div>
            </div>


          </div>

        <% end %>
      </div>


      <div class="col-sm">
        <h1>Programming Grid</h1>
        <% @all_emails.each do |email| %>
        <!-- PG from -->
        <div class="pg">
          <div class="horizontally_align_results">
            <label for="pgfrom">From:</label><br />
            <div id="pgfrom" class="pgfrom">
              <p>
                <!-- this is ruby code -->

              <% if email.qa_list_data["from"] %>
                <% email.qa_list_data["from"].each do |row| %>
                  <%= row.cell_value %>
                <% end %>
              <% end %>
            </p>
          </div>
          </div>


          <!-- PG subject -->
          <div class="horizontally_align_results">
            <label for="pgsubject">Subject:</label><br />
            <div id="pgsubject" class="pgsubject">
              <p>
              <% if email.qa_list_data["subject"] %>
                <% email.qa_list_data["subject"].each do |row| %>
                  <%= row.cell_value %>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>

          <!-- body not implemented yet -->
          <label for="pgbody">Body:</label><br />

          <div id="pgbody" class="pgbody">
          <% email.qa_list_data["body"].each do |k,v| %>
            <div class="part_body" id="part_body">
              <% v.each do |match| %>
                <%= match.value %>
              <% end %>
            </div>
          <p>------------------------------------------------</p>
          <% end %>
          </div>
          
          <p class="versioning">Email should be getting the:  <%= email.version %> version. </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
